jupyterlab>3.0
transformers
diffusers
accelerate
huggingface_hub
opencv-python-headless
pillow
scipy
matplotlib
timm
omegaconf
tqdm
imageio
imageio-ffmpeg
trimesh
plyfile
scikit-image
addict
yapf
supervision
pycocotools
